################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Term_Project/.vs/test2/v15/Browse.VC.opendb
